
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active" style="background: url('assets/slide1.jpg')">
        <div class="carousel-item-inner">
            <div class="jumbo">
              <h1>Customer loyality program <br > on <b >blockchain.</b></h1><button  class="btn btn-outline" type="button"><i class="la la-1x la-sign-in"></i> Learn more</button></div>
        </div>
      </div>
      <div class="carousel-item " style="background: url('assets/slide2.jpeg')">
        <div class="carousel-item-inner">
            <div class="jumbo">
              <h1>Customer loyality program <br > on <b >blockchain.</b></h1><button  class="btn btn-outline" type="button"><i class="la la-1x la-sign-in"></i> Learn more</button></div>
        </div>
      </div>
      <div class="carousel-item " style="background: url('assets/slide3.png');background-position: 50% 100%">
        <div class="carousel-item-inner">
            <div class="jumbo">
              <h1>Customer loyality program <br > on <b >blockchain.</b></h1><button  class="btn btn-outline" type="button"><i class="la la-1x la-sign-in"></i> Learn more</button></div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<div class="container" style="margin-top:40px;">
  <div class="row">
    <div class="col link" style="border-right:1px solid #eaeaea;">
        <i class="la la-user"></i>
        <h3>Customers</h3>
        <p>
            Customers can register as Member to this program by creating an account number for identification on the network and access card to sign-in. Once registered they can sign in, to make transactions to earn points and use points, and view all their transactions. 
        </p>
        <p>
          <a class="btn btn-warning"  routerLink="/members" role="button">Sign In »</a>&nbsp;
          <a class="btn btn-warning" href="/members/signup" role="button">Register »</a>
        </p>
    </div>
    <div class="col link">
        <i class="la la-shopping-cart"></i>
        <h3>Partners</h3>
        <p>
            For companies part of the program, they can register as Partner on the network by creating an Id on the network and access card to sign-in. They can sign-in to view all transactions made with them and dashboard to view total points allocated and redeemed by members. 
        </p>
        <p>
            <a class="btn btn-warning" href="/partners" role="button">Sign In »</a>&nbsp;
            <a class="btn btn-warning" href="/partners/signup" role="button">Register »</a>
        </p>
    </div>
  </div>
</div>
